body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#000;
    color:#fff; 
}

/* NAV */
nav{
    display:flex;  
    justify-content:space-between;
    align-items:center;
    padding:25px 60px;
    border-bottom:1px solid #111;
}

.logo{
    font-size:28px;
    font-weight:700;
    letter-spacing:3px;
    color:#f5c542;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    transition:.3s;
}

.nav-links a:hover{
    color:#f5c542;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:100px 80px;
    gap:80px;
}

.hero img{
    width:450px;
    border-radius:16px;
    box-shadow:0 30px 60px rgba(245,197,66,0.3);
}

.hero-text h1{
    font-size:52px;
    font-weight:600;
    margin-bottom:20px;
}

.gold{
    color:#f5c542;
    font-weight:700;
} 

.hero-text p{
    color:#bbb;
    line-height:1.8;
    max-width:550px;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 34px;
    border:2px solid #f5c542;
    color:#f5c542;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn:hover{
    background:#f5c542;
    color:#000;
}

/* GALLERY */
.gallery{
    padding:120px 80px;
    text-align:center;
}

.gallery h2{
    font-size:42px;
    margin-bottom:60px;
}

/* PRODUCT GRID */
.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:50px;
}

/* PRODUCT CARD */
.product-card{
    text-align:center;
    transition:transform .3s ease;
}

.product-card img{
    width:100%;
    border-radius:18px;
    box-shadow:0 25px 60px rgba(245,197,66,0.25);
}

.product-card:hover{
    transform:translateY(-10px);
}

.product-card h3{
    margin-top:20px;
    font-weight:500;
}

.price{
    margin-top:8px;
    color:#f5c542;
    font-weight:600;
    font-size:18px;
}

/* FOOTER */
footer{
    border-top:1px solid #111;
    padding:40px 60px;
    color:#aaa;
}

/* WHATSAPP BUTTON */
.whatsapp{
    position:fixed;
    bottom:30px;
    right:30px;
    background:#f5c542;
    color:#000;
    padding:14px 22px;
    border-radius:30px;
    font-weight:600;
    text-decoration:none;
    box-shadow:0 10px 25px rgba(245,197,66,.4);
}
